In [0]:
import numpy as np 
import pandas as pd

In [0]:
dataset = {'Dochód':['niski','średni','średni','średni','średni','wysoki','niski','wysoki','średni','niski'],
       'Wiek':[25, 36, 36, 25 ,28, 28, 25, 25, 36 ,36],
       'Wiarygodność':['niska','średnia','wysoka','niska','średnia','wysoka','niska','wysoka','średnia','średnia'],
       'Pożyczka':['Nie','Tak','Tak','Nie','Tak','Tak','Nie','Tak','Tak','Nie']}

In [3]:
dataset

{'Dochód': ['niski',
  'średni',
  'średni',
  'średni',
  'średni',
  'wysoki',
  'niski',
  'wysoki',
  'średni',
  'niski'],
 'Pożyczka': ['Nie',
  'Tak',
  'Tak',
  'Nie',
  'Tak',
  'Tak',
  'Nie',
  'Tak',
  'Tak',
  'Nie'],
 'Wiarygodność': ['niska',
  'średnia',
  'wysoka',
  'niska',
  'średnia',
  'wysoka',
  'niska',
  'wysoka',
  'średnia',
  'średnia'],
 'Wiek': [25, 36, 36, 25, 28, 28, 25, 25, 36, 36]}

In [4]:
df = pd.DataFrame(dataset)
df

   Dochód  Wiek Wiarygodność Pożyczka
0   niski    25        niska      Nie
1  średni    36      średnia      Tak
2  średni    36       wysoka      Tak
3  średni    25        niska      Nie
4  średni    28      średnia      Tak
5  wysoki    28       wysoka      Tak
6   niski    25        niska      Nie
7  wysoki    25       wysoka      Tak
8  średni    36      średnia      Tak
9   niski    36      średnia      Nie

Funkcja kosztu - entropia - łagodne wprowadzenie

In [0]:
entropy_node = 0
values = df['Pożyczka'].unique()
for value in values:
    fraction = df.Pożyczka.value_counts()[value]/len(df.Pożyczka)
    entropy_node += -fraction * np.log2(fraction)

In [6]:
entropy_node

0.9709505944546686

In [0]:
attribute = 'Wiarygodność'
target_variables = df.Pożyczka.unique()
variables = df[attribute].unique()

In [10]:
print(variables)

['niska' 'średnia' 'wysoka']